body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
}

header .navbar-brand img {
    max-height: 40px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.card {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    font-size: 0.9rem;
}
